*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.dash{
    display: flex;
}

body{
    background-image: url(/background2.jpg);
    background-size: cover;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: x-large;
    overflow: hidden;

}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    width: 100%;
    margin-top: 2.5em;
}

select{
    border-radius: 10px;
    font-size: 1em;
    padding: 0.2em 1em;
    list-style-type: circle;
}

select:hover{
    cursor: pointer;
}

select:focus-visible{
outline: none;
}


.dash{
    font-size: 1.7em;
    margin-top: 1em;
}

.bg-color{
    background-color: rgb(0,0,0, 0.4); 
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.bg-image{
    background-image: url(/background2.jpg);
    background-size: cover;
    filter: blur(2px);
    height: 100%;
    width: 100%;
    z-index: -2;
    position: absolute;
}